# SPDX-FileCopyrightText: 2023 Idiap Research Institute <contact@idiap.ch>
#
# SPDX-FileContributor: Jeremy Maceiras  <jeremy.maceiras@idiap.ch>
#
# SPDX-License-Identifier: GPL-3.0-only

BasedOnStyle: Chromium
Standard: Cpp11
SortIncludes: true
ColumnLimit: 200
IndentWidth: 4
AccessModifierOffset: -4
